<!-- app/views/cart/checkout.html.erb -->
<main class="container my-4">
  <h2>Checkout</h2>

  <%= form_with model: @order, url: complete_checkout_path, local: true do |f| %>
    <div class="form-group">
      <%= f.label :address, 'Address' %>
      <%= f.text_area :address, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.label :province, 'Province' %>
      <%= f.select :province, options_for_select(Provinces.all.pluck(:name, :code)), { include_blank: 'Select Province' }, class: 'form-control', required: true %>
    </div>

    <div class="form-group">
      <%= f.submit 'Complete Order', class: 'btn btn-primary' %>
    </div>
  <% end %>
</main>
