<div class="row">
  <div class="col-md-6">
    <% if @product.image.attached? %>
      <%= image_tag url_for(@product.image), alt: @product.name, size: "300x300" %>
    <% else %>
      <%= image_tag asset_path('default_image.png'), alt: 'No image available', size: "300x300" %>
    <% end %>
  </div>
  <div class="col-md-6">
    <h2><%= @product.name %></h2>
    <p><%= @product.description %></p>
    <p><%= number_to_currency(@product.price) %></p>
    <p>Stock: <%= @product.stock %></p>

    <%= form_with url: '/cart/add_to_cart', method: :post, local: true do %>
      <%= hidden_field_tag :product_id, @product.id %>
      <%= number_field_tag :quantity, 1, min: 1, class: 'form-control mb-2', placeholder: 'Quantity' %>
      <%= submit_tag 'Add to Cart', class: 'btn btn-primary' %>
    <% end %>    
  </div>
</div>
