<!DOCTYPE html>
<html>
  <head>
    <title>TechGadgetHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <footer>
      <%= link_to 'Contact', static_page_path('Contact') %> |
      <%= link_to 'About', static_page_path('About') %>
    </footer>
  </body>
</html>
